<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>Create Product</title>
</head>
<body> 
    <%- include('partials/navbar') %>
    <% if (success_msg && success_msg.length > 0) { %>
            <div class="alert alert-success">
                <%= success_msg %>
            </div>
        <% } %>

        <% if (error_msg && error_msg.length > 0) { %>
            <div class="alert alert-danger">
                <%= error_msg %>
            </div>
        <% } %>
    <div class="main-container">
        <div class="side-container collapsed" id="sidebar">
            <div class="side-contents">
                <div class="collection-products">
                    <div>
                        <!-- href="/admins/all-products" -->
                        <a class="allProducts" href="/admins/admin-panel/all-products" >All Products</a>
                    </div>
                    <div>
                        <!-- href="/admins/product/create" -->
                        <a class="createProducts" href="/admins/product/create" >Create New Product</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="create-product-container">
            <div class="form">
                <div class="header">
                    <h1>Product Details</h1>
                </div>
                <form action="/admins/product/create" method="post" id="productDetailsForm" enctype="multipart/form-data">
                    <div class="formContent">
                        <input type="file" name="productImage">
                        <input type="text" class="userInputs" name="productName" id="productName" placeholder="Product Name ...">
                        <input type="number" class="userInputs" name="productPrice" id="productPrice" placeholder="Product Price ...">
                        <input type="number" class="userInputs" name="discountPrice" id="discountPrice" placeholder="Discount Price ...">
                        <input type="submit" class="submit" id="" value="Create New Product" disabled style="cursor: not-allowed;">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/javascripts/admin.js"></script>
</body>
</html>