<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/admin-login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>Admin Panel</title>
</head>
<body>
    <% if (success_msg && success_msg.length > 0) { %>
            <div class="alert alert-success">
                <%= success_msg %>
            </div>
        <% } %>

        <% if (error_msg && error_msg.length > 0) { %>
            <div class="alert alert-danger">
                <%= error_msg %>
            </div>
        <% } %>
    <div class="main">
        <!-- login -->
        <div class="form">
            <div class="header">
                <h1>Login Admin</h1>
            </div>
            <form action="/admins/login" method="post" id="loginForm">
                <div class="formContent">
                    <input type="email" class="userInputs" name="email" id="loginEmail" placeholder="Email ...">
                        <% if (loginErrors.email) { %>
                            <span style="color: #ed3232;"><%= loginErrors.email %></span>
                        <% } %>
                    <input type="password" class="userInputs" name="password" id="loginPassword" placeholder="Password ...">
                        <% if (loginErrors.password) { %>
                            <span style="color: #ed3232;"><%= loginErrors.password %></span>
                        <% } %>
                    <input type="submit" class="submit" id="loginSubmitBtn" value="Login User" disabled style="cursor: not-allowed;">
                </div>
            </form>
        </div>
    </div>
    <!-- view admin panel -->
    <div class="shop-button-container">
        <a href="/admins/admin-panel">
            <button type="submit" class="shop-btn">
                Admin Panel 
                <i class="fa-solid fa-arrow-right-long arrow-icon"></i>
            </button>
        </a>
    </div>
    <!-- script -->
     <script src="/javascripts/register-login.js"></script>
</body>
</html>
</body>
</html>