<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/shop.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>Page Under Contruction</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="main-container">
        <div class="side-container collapsed" id="sidebar">
            <div class="side-contents">
                <div class="collection-products">
                    <div>
                        <a href="/new-collections">New Collections</a>
                    </div>
                    <div>
                        <a href="/all-products">All Products</a>
                    </div>
                    <div>
                        <a href="/discounted-products">Discounted Products</a>
                    </div>
                </div>
                <div class="filter-products">
                    <span style="font-size: 0.92rem;">Filter by:</span>
                    <div>
                        <a href="/availability">Availability</a>
                    </div>
                    <div>
                        <a href="/discount">Discount</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-container">
            <img src="/images/pageUnderContruction.png" alt="">
        </div>
    </div>
    <script src="/javascripts/shop.js"></script>
</body>
</html>